.title-edit-place,
.menu-edit-place:not(.page-link)
{
    display: none;
}

.page-link
{
    display: block;
    width: 60%;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

@media(orientation:portrait)
{
    .page-link
    {
        width: 100%;
    }
}

article
{
    text-align: left;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}