.title-edit-place,
.menu-edit-place:not(.page-link)
{
    display: none;
}

.page-link
{
    display: block;
    width: 30%;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

@media(orientation:portrait)
{
    .page-link
    {
        width: 100%;
    }
}

.page-link::after
{
    content: '';
    background: url('/static/link.ico');
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-size:cover;
    position:absolute;
}

article
{
    text-align: left;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}