<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Server Bot Configuration Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='old/css/style.css') }}">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <script src="{{ url_for('static', filename='old/js/tools.js') }}"></script>
</head>
<body>
    <div class="navBar">
        <a href="/" class="navBtn">HOME</a>
        <a href="infa" class="navBtn">INFA</a>
        <a href="login" class="navBtn">LOGIN</a>
    </div>
    <form action="admin" method="POST" style="margin-top: 5em">
        <input type="password" name="pwd" class="formElements"><br>
        <input type="submit" class="formElements">
    </form>
    <div id="toast"></div>
    {% if msg %}
    <script>toast('{{ msg}} ');</script>
    {% endif %}
</body>
</html>