<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height"/>
    <title>Infa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/menu_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/edit_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/new_element.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/txt_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/prism.css') }}">
    <script src="{{ url_for('static', filename='v0.1/js/menu/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/edit/parent.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/edit/place_manip.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/edit/action_buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/edit/save.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/edit/txt_panel.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/edit/new_element.js') }}" defer></script>
    <script src="{{ url_for('static', filename='v0.1/js/loader.js') }}" defer></script>
    <script src="{{ url_for('static', filename='v0.1/js/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/tools.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="login">
            <a class="login link" href="/v/{{ site_id }}">View</a>
        </div>
        <div class="menu nav hidden">
            <button onclick="toggleMenu()" class="menu toggle hidden">≡</button>
            <div class="menu holder hidden"></div>
        </div>
    </nav>


    <button onclick="openNewElementForm()" class="element-btn">New Element</button>
    <button onclick="copySiteID()" class="element-btn">Copy Site ID</button>
    <button onclick="showAllPages()" class="element-btn">All pages</button>
    <a class="element-btn" href="/e/{{ new_site_id }}">New Page</a>
    <button onclick="save()" class="save-btn">Save</button>
    <article onfocusin="hideMenu()">

        <div id="none"></div>
    </article>

    <script>
        var site_json = {{ site_json|safe }}
    </script>
    <div class="new div hide">
        <div class="new panel"></div>
        <div class="new form-panel">
            <div class="new form">
                <div class="new flex-form">
                    <form action="javascript.void(0);">
                        <select id="elementType">
                            <option value="code">Code</option>
                            <option value="header">Header</option>
                            <option value="text">Text</option>
                            <option value="menu">Menu Item</option>
                            <option value="link">Link</option>
                        </select>
                    </form>
                </div>
                <div class="new flex-form margin">
                     <button onclick="newElement()" class="new btn">SELECT</button>
                </div>
            </div>
            <button onclick="closeNewElementForm()" class="new close">✖</button>
        </div>
    </div>
    <div id="txt-panel" class="hide">
        <div id="txt-panel-holder">
            <button id="close-txt-panel-btn" onclick="closeMessageBox()">✖</button>
            <p id="txt-in-panel"></p>
        </div>
    </div>
    <div id="saving-panel" class="hide">
        <h1 id="saving-txt">SAVING...</h1>
    </div>
    <div id="toast"></div>
</body>
</html>