<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Infa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='old/css/prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='old/css/style.css') }}">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <script src="{{ url_for('static', filename='old/js/tools.js') }}"></script>
    <script src="{{ url_for('static', filename='old/js/infa.js') }}" defer></script>
    <script src="{{ url_for('static', filename='old/js/prism.js') }}" defer></script>
</head>
<body>
    <div class="navBar">
        <a href="/" class="navBtn">HOME</a>
        <a href="infa" class="navBtn">INFA</a>
        <a href="/" class="navBtn">LOGIN</a>
    </div>
    <div class="article">
        <a href="/">Nowa wersja Strony!</a>
    </div>
    <div class="menuBar">
        <br>
        <a href="/" class="menuBarBtn">Nowa wersja Strony!</a>
        <br>
        <br>
    </div>
    <div id="toast"></div>
    <script>
        {% if msg %}
        toast('{{ msg }}')
        {% endif %}
        function generateInfa(){
            {{ infa|safe }}
        };
    </script>
</body>
</html>