<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height"/>
    <title>Infa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/menu_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='v0.1/css/view_style.css') }}">
    <script src="{{ url_for('static', filename='v0.1/js/menu/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/view/parent.js') }}"></script>
    <script src="{{ url_for('static', filename='v0.1/js/loader.js') }}" defer></script>
    <script src="{{ url_for('static', filename='v0.1/js/tools.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="login">
            <a class="login link" href="/e/{{ site_id }}">Edit</a>
        </div>
        <div class="menu nav hidden">
            <button onclick="toggleMenu()" class="menu toggle hidden">≡</button>
            <div class="menu holder hidden"></div>
        </div>
    </nav>

    <article onfocusin="hideMenu()">
        <div id="none"></div>
    </article>

    <script>
        var site_json = {{ site_json|safe }}
    </script>
    <div id="toast"></div>
</body>
</html>